<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="datapath" value="J:\Courses\Capstone\FileUpload\Source"/>
		<add key="Setting2" value="May 6, 2014"/>
	</appSettings>
	<connectionStrings>

		<add name="AODB"
			 connectionString="Data Source=VAIO;Initial catalog=AO_TESTDB_V7;Integrated Security=True"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>